<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>

<appSettings>

  <add key="IndiceRobot" value="0"/>
  
  <add key="COM_puerto" value="COM4"/>

  <add key="precision_reconocimiento" value="80"/>
  <add key="mover_boca" value="S"/>
  <add key="mover_cabeza" value="N"/>
  <add key="seguir_sonido_con_cabeza" value="S"/>
  <add key="cabeza_activada_modo_conversacion" value="S"/>
  <add key="SoloComandosRecVozUWP" value="S"/>
  <add key="presentacion_por_voz" value="S"/>


  <add key="valor_ini_RASPER.boca" value="92"/>
  <!-- Arriba-abajo-->
  <add key="valor_ini_RASPER.cabeceo" value="12"/> 
  <!-- Derecha-izquierda-->
  <add key="valor_ini_RASPER.guinada" value="65"/>

  <add key="valor_ini_RASPER.giro" value="85"/>

  <add key="valor_ini_RASPER.mano_derecha_pulgar" value="85"/>
  <add key="valor_ini_RASPER.mano_derecha_anular" value="85"/>
  <add key="valor_ini_RASPER.mano_derecha_indice" value="85"/>
  <add key="valor_ini_RASPER.mano_derecha_medio" value="85"/>
  <add key="valor_ini_RASPER.mano_derecha_menique" value="85"/>
  <add key="valor_ini_RASPER.mano_derecha_muneca" value="178"/>

  <add key="valor_ini_RASPER.mano_iquierda_pulgar" value="163"/>
  <add key="valor_ini_RASPER.mano_iquierda_indice" value="136"/>
  <add key="valor_ini_RASPER.mano_iquierda_medio" value="115"/>
  <add key="valor_ini_RASPER.mano_iquierda_anular" value="42"/>
  <add key="valor_ini_RASPER.mano_iquierda_menique" value="178"/>
  <add key="valor_ini_RASPER.mano_iquierda_muneca" value="118"/>


  <add key="limites_RASPER.giro" value="1,170"/>

  <add key="limites_RASPER.boca" value="90,112"/>
  <add key="limites_RASPER.cabeceo" value="1,105"/>
  <add key="limites_RASPER.guinada" value="15,135"/>

  <add key="limites_RASPER.mano_derecha_pulgar" value="27,160"/>
  <add key="limites_RASPER.mano_derecha_indice" value="16,178"/>
  <add key="limites_RASPER.mano_derecha_medio" value="23,158"/>
  <add key="limites_RASPER.mano_derecha_anular" value="13,178"/>
  <add key="limites_RASPER.mano_derecha_menique" value="43,178"/>
  <add key="limites_RASPER.mano_derecha_muneca" value="43,178"/>

  <add key="limites_RASPER.mano_iquierda_pulgar" value="51,178"/>
  <add key="limites_RASPER.mano_iquierda_indice" value="41,155"/>
  <add key="limites_RASPER.mano_iquierda_medio" value="0,125"/>
  <add key="limites_RASPER.mano_iquierda_anular" value="0,178"/>
  <add key="limites_RASPER.mano_iquierda_menique" value="35,178"/>
  <add key="limites_RASPER.mano_iquierda_muneca" value="0,178"/>
        
  <add key="parada_RASPER.hombro_cuerpo_derecho" value="108"/>
  <add key="parada_RASPER.hombro_brazo_derecho" value="109"/>
  <add key="parada_RASPER.biceps_derecho" value="70"/>
  <add key="parada_RASPER.hombro_cuerpo_iquierdo" value="80"/>
  <add key="parada_RASPER.hombro_brazo_iquierdo" value="78"/>
  <add key="parada_RASPER.biceps_izquierdo" value="75"/>

  <add key="limites_RASPER.hombro_cuerpo_derecho" value="844,970"/>
  <add key="limites_RASPER.hombro_brazo_derecho" value="300,580"/>
  <add key="limites_RASPER.biceps_derecho" value="140,560"/>
  <add key="limites_RASPER.hombro_cuerpo_iquierdo" value="555,748"/>
  <add key="limites_RASPER.hombro_brazo_iquierdo" value="510,719"/>
  <add key="limites_RASPER.biceps_izquierdo" value="359,547"/>

  <add key="dir_RASPER.hombro_cuerpo_derecho" value="ASCENDENTE"/>
  <add key="dir_RASPER.hombro_brazo_derecho" value="ASCENDENTE"/>
  <add key="dir_RASPER.biceps_derecho" value="ASCENDENTE"/>
  <add key="dir_RASPER.hombro_cuerpo_iquierdo" value="DESCENDENTE"/>
  <add key="dir_RASPER.hombro_brazo_iquierdo" value="ASCENDENTE"/>
  <add key="dir_RASPER.biceps_izquierdo" value="ASCENDENTE"/>

  <add key="tolerancia_RASPER.hombro_cuerpo_derecho" value="10"/>
  <add key="tolerancia_RASPER.hombro_brazo_derecho" value="20"/>
  <add key="tolerancia_RASPER.biceps_derecho" value="10"/>
  <add key="tolerancia_RASPER.hombro_cuerpo_iquierdo" value="10"/>
  <add key="tolerancia_RASPER.hombro_brazo_iquierdo" value="10"/>
  <add key="tolerancia_RASPER.biceps_izquierdo" value="10"/>

  <!-- Fin configuración servos   -->
  
  <add key="cabeza_derecha_RASPER" value="85"/>
  <add key="cabeza_izquierda_RASPER" value="85"/>

  <add key="cabeza_arriba_RASPER" value="85"/>
  <add key="cabeza_abajo_RASPER" value="85"/>


  <add key="distancia_parada_ultrasonidos_cm" value="30"/>
  
  <add key="cara_arriba_derecha" value="60"/>
  <add key="cara_arriba_izquierda" value="60"/>
  <add key="cara_abajo_derecha" value="60"/>
  <add key="cara_abajo_derecha" value="60"/>

  <add key="direccion_centro" value="60"/>
  <add key="cara_vertical_centro" value="60"/>
  <add key="cara_horizontal_centro" value="60"/>

  <add key="frames_segundo_diferido" value="10"/>

  <add key="escala_vr_servo_cabeceo_min" value="35"/>
  <add key="escala_vr_servo_cabeceo_max" value="107"/>
  <add key="escala_vr_gafas_cabeceo_min" value="-25"/>
  <add key="escala_vr_gafas_cabeceo_max" value="25"/>

  <add key="escala_vr_servo_guinada_min" value="2"/>
  <add key="escala_vr_servo_guinada_max" value="67"/>
  <add key="escala_vr_gafas_guinada_min" value="96"/>
  <add key="escala_vr_gafas_guinada_max" value="80"/>

  <add key="escala_seguimiento_rostro_servo_cabeceo_min" value="35"/>
  <add key="escala_seguimiento_rostro_servo_cabeceo_max" value="107"/>
  <add key="escala_seguimiento_rostro_imagen_cabeceo_min" value="-15"/>
  <add key="escala_seguimiento_rostro_imagen_cabeceo_max" value="15"/>
  <add key="escala_seguimiento_rostro_ancho_imagen" value="300"/>
  

  <add key="recorte_imagen_x" value="0"/>
  <add key="recorte_imagen_y" value="0"/>
  <add key="recorte_imagen_ancho" value="497"/>
  <add key="recorte_imagen_alto" value="365"/>

  <add key="boca_abierta" value="110"/>
  <add key="boca_abierta1" value="103"/>
  <add key="boca_cerrada" value="97"/>
  <add key="boca_cerrada1" value="100"/>

  <add key="cabeza_cabeceo_arriba1" value="20"/>
  <add key="cabeza_cabeceo_arriba2" value="15"/>
  <add key="cabeza_cabeceo_abajo1" value="10"/>
  <add key="cabeza_cabeceo_abajo2" value="5"/>

  <add key="cabeza_guinada_der1" value="70"/>
  <add key="cabeza_guinada_der2" value="65"/>
  <add key="cabeza_guinada_izq1" value="55"/>
  <add key="cabeza_guinada_izq2" value="50"/>


  <add key="pulgar_derecho_abierto" value="27"/>
  <add key="indice_derecho_abierto" value="35"/>
  <add key="medio_derecho_abierto" value="121"/>
  <add key="anular_derecho_abierto" value="36"/>
  <add key="menique_derecho_abierto" value="85"/>

  <add key="muneca_derecha_lado" value="174"/>

  <add key="pulgar_derecho_cerrado" value="107"/>
  <add key="indice_derecho_cerrado" value="146"/>
  <add key="medio_derecho_cerrado" value="45"/>
  <add key="anular_derecho_cerrado" value="135"/>
  <add key="menique_derecho_cerrado" value="118"/>

    <add key="muneca_derecha_arriba" value="68"/>

  
  <add key="pulgar_izquierdo_abierto" value="163"/>
  <add key="indice_izquierdo_abierto" value="136"/>
  <add key="medio_izquierdo_abierto" value="115"/>
  <add key="anular_izquierdo_abierto" value="42"/>
  <add key="menique_izquierdo_abierto" value="178"/>


  <add key="pulgar_izquierdo_cerrado" value="163"/>
  <add key="indice_izquierdo_cerrado" value="106"/>
  <add key="medio_izquierdo_cerrado" value="115"/>
  <add key="anular_izquierdo_cerrado" value="42"/>
  <add key="menique_izquierdo_cerrado" value="178"/>

  <add key="myo_arriba" value="2"/>
  <add key="myo_abajo" value="6"/>
  <add key="myo_derecha" value="4"/>
  <add key="myo_izquierda" value="6"/>


  <add key="parada_num_pos" value="2"/>

  <add key="parada0_RASPER.hombro_cuerpo_derecho" value="914"/>
  <add key="parada0_RASPER.hombro_brazo_derecho" value="498"/>
  <add key="parada0_RASPER.biceps_derecho" value="150"/>
  <add key="parada0_RASPER.hombro_cuerpo_iquierdo" value="668"/>
  <add key="parada0_RASPER.hombro_brazo_iquierdo" value="710"/>
  <add key="parada0_RASPER.biceps_izquierdo" value="410"/>

  <add key="parada1_RASPER.hombro_cuerpo_derecho" value="912"/>
  <add key="parada1_RASPER.hombro_brazo_derecho" value="547"/>
  <add key="parada1_RASPER.biceps_derecho" value="395"/>
  <add key="parada1_RASPER.hombro_cuerpo_iquierdo" value="673"/>
  <add key="parada1_RASPER.hombro_brazo_iquierdo" value="586"/>
  <add key="parada1_RASPER.biceps_izquierdo" value="438"/>

  <add key="posicion_num_pos" value="2"/>
  
  <add key="posicion0_RASPER.mano_derecha_pulgar" value="85"/>
  <add key="posicion0_RASPER.mano_derecha_anular" value="85"/>
  <add key="posicion0_RASPER.mano_derecha_indice" value="85"/>
  <add key="posicion0_RASPER.mano_derecha_medio" value="85"/>
  <add key="posicion0_RASPER.mano_derecha_menique" value="85"/>
  <add key="posicion0_RASPER.mano_derecha_muneca" value="178"/>

  <add key="posicion0_RASPER.mano_izquierda_pulgar" value="163"/>
  <add key="posicion0_RASPER.mano_izquierda_indice" value="136"/>
  <add key="posicion0_RASPER.mano_izquierda_medio" value="115"/>
  <add key="posicion0_RASPER.mano_izquierda_anular" value="42"/>
  <add key="posicion0_RASPER.mano_izquierda_menique" value="178"/>
  <add key="posicion0_RASPER.mano_izquierda_muneca" value="118"/>

  <add key="posicion1_RASPER.mano_derecha_pulgar" value="134"/>
  <add key="posicion1_RASPER.mano_derecha_anular" value="145"/>
  <add key="posicion1_RASPER.mano_derecha_indice" value="85"/>
  <add key="posicion1_RASPER.mano_derecha_medio" value="98"/>
  <add key="posicion1_RASPER.mano_derecha_menique" value="119"/>
  <add key="posicion1_RASPER.mano_derecha_muneca" value="109"/>

  <add key="posicion1_RASPER.mano_izquierda_pulgar" value="163"/>
  <add key="posicion1_RASPER.mano_izquierda_indice" value="136"/>
  <add key="posicion1_RASPER.mano_izquierda_medio" value="115"/>
  <add key="posicion1_RASPER.mano_izquierda_anular" value="42"/>
  <add key="posicion1_RASPER.mano_izquierda_menique" value="178"/>
  <add key="posicion1_RASPER.mano_izquierda_muneca" value="118"/>

  <add key="parada_num_pos" value="2"/>


  <add key="COM_defecto" value="COM4"/>
  
  <add key="INI_conectar" value="S"/>
  <add key="INI_ejecutar_dani" value="S"/>
  
  <add key="INI_control_pos" value="S"/>
  <add key="INI_enviar_posiciones_parada" value="S"/>
  <add key="INI_control_limites_parada" value="S"/>


</appSettings>
  
</configuration>
